<style>
 
  .table-border,
  .table-border tr td,
  .table-border tr th{
    border: none;
    border-bottom: none;
    /* line-height: 4.5; */
  }
  ion-icon:hover{
    cursor: pointer;
  }
</style>
<% include layout/header.ejs %>
<!-- Header End -->

<div id="maincontainer">
  <section id="product">
    <div class="container">
     <!--  breadcrumb --> 
            
      <h1 class="heading1" style="text-align: center; margin: 30px 0;"><span class="maintext"> GIỎ HÀNG</span></h1>
      <!-- Cart-->
      <div class="cart-info">
        <table class=" table-striped table-border" style="border:none">
          <tr style="font-weight: bold;
          font-size: 17px;
          text-transform: uppercase;text-align: center;">
            <th style="text-align: center;width: 100px;" class="image">Sản phẩm</th>
            <th style="text-align: center;" class="name">Tên sản phẩm</th>
            <th style="text-align: center;" class="quantity">Số Lượng</th>
            <th style="text-align: center;" class="price">Giá</th>
            <th style="text-align: center;" class="total">Tổng tiền</th>
            <th style="text-align: center;" class="tooltip-test">Cập nhật</th>
           
          </tr>
          <% var total = 0; if(data){ data.forEach(function(cartItem){ total += cartItem.price %>
          <tr>
            <td class="image">
              <a href="/san-pham/<%= cartItem.item.urlRewriteName%>.<%= cartItem.item.id%>.<%= cartItem.item.categoryId%>.html">
                <img title="product" alt="product" src="upload/<%= cartItem.item.photo%>" height="80" width="80">
              </a>
            </td>
            <td  class="name">
              <a style="font-size: 15px;
              font-weight: bold;" href="/san-pham/<%= cartItem.item.urlRewriteName%>.<%= cartItem.item.id%>.<%= cartItem.item.categoryId%>.html">
                <%= cartItem.item.name%>
              </a>
            </td>
            <td class="quantity">
              <input style="width: 65px;
              text-align: center;" id="<%= cartItem.item.id%>" type="text" size="1" value="<%= cartItem.quantity%>" name="quantity[40]" class="txtQuantity-<%= cartItem.item.id%>">
            </td>
            <td class="price">
              <% if(cartItem.item.sale > 0) { %>
              <%= parseInt(cartItem.item.salePrice).toLocaleString('en-us') %> đ
              <% } else { %>
              <%= parseInt(cartItem.item.price).toLocaleString('en-us') %> đ
              <% } %>
            </td>
            <td class="total"><%= parseInt(cartItem.price).toLocaleString('en-us') %> đ</td>
            <td class="total" style="text-align: center; display: flex;align-items: center;justify-content: center;border-bottom: none;">
              <button class="tooltip-test" id="<%= cartItem.item.id%>" data-original-title="" onclick="onClickUpdate(<%= cartItem.item.id%>)" style="text-align: center;margin-right: 10px;">Cập nhật</button>
                <ion-icon class="tooltip-test" id="<%= cartItem.item.id%>" data-original-title="" name="trash-outline" onclick="onClickDelete(<%= cartItem.item.id%>)" style="font-size: 25px;text-align: center;"></ion-icon></ion-icon>
            </td>
          </tr>
          <%})}%>

        </table>
      </div>
      <div class="container">
        <div class="totalcart" style="text-align: center;">
          <span class="extra bold " style="font-weight: bold; font-size: 15px;">Tổng thanh toán :</span><span class="bold  pull-right" style="font-weight: bold; font-size: 15px;"><%= parseInt(total).toLocaleString('en-us') %> đ</span>
          <br>
          <div style="margin-top: 25px;" class="button_cart">
            <a href="/" class="excel btn btn-orange " style="border-radius: 5px; margin-right: 5px;">Xuất Excel</a>
            <a href="/dathang.html" class="btn btn-orange " style="border-radius: 5px;">Đặt Hàng</a>
          </div>
        </div>
      
        </div>
    </div>
  </section>
  <% if (products !== null && products.length > 0) { %>
  <!--  Related Products-->
  <!-- Tạo sản phẩm , giá , tên, giá khuyến mãi -->
  <section id="related" class="row" style="display: none;">
    <div class="container">
      <h1 class="heading1"><span class="maintext">Sản Phẩm Khác</span><span class="subtext"> See Our Most featured Products</span></h1>
      <ul class="thumbnails">
        <% products.forEach(function(pro){ %>
            <li class="span3">
              <a class="prdocutname" href="product.html"> <%= pro.name %> </a>
              <div class="thumbnail">
                <span class="sale tooltip-test">Sale</span>
                <a href="/san-pham/<%= pro.urlRewriteName%>.<%= pro.id%>.<%= pro.categoryId%>.html"><img alt="" src="upload/<%= pro.photo %>"></a>
                <div class="pricetag">
                  <span class="spiral"></span><a href="/cart/add/<%= pro.id %>" class="productcart">ADD TO CART</a>
                  <div class="price">
                    <div class="pricenew"><%= parseInt(pro.price).toLocaleString('en-us') %></div>
                  </div>
                </div>
              </div>
            </li>
        <% })%>
      </ul>
    </div>
  </section>
  <% } %>
</div>
<script type="text/javascript">
  function onClickDelete(id) {
    $.ajax(
      {
        type: 'POST',
        url: 'http://localhost:3000/cart/delete',
        data: {
          id
        },
        success: function(response){
          if (!response || response.isSucceed === false) {
            alert('Cập nhật thất bại');
          }
          else {
            alert('Cập nhật thành công');

            location.reload();
          }
        }
      }
    );
  }
  
  function onClickUpdate(id) {
    $.ajax(
      {
        type: 'POST',
        url: 'http://localhost:3000/cart/update',
        data: {
          id,
          quantity: $(`.txtQuantity-${id}`).val()
        },
        success: function(response){
          if (!response || response.isSucceed === false) {
            alert('Cập nhật thất bại');
          }
          else {
            alert('Cập nhật thành công');

            location.reload();
          }
        }
      }
    );
  }
</script>
<!-- Footer -->
<% include layout/footer.ejs %>